<h2>Search countries by region</h2>
<hr />
<div class="row">
  <div class="col text-center">
    <button
      class="btn mx-2"
      *ngFor="let region of regions"
      [ngClass]="selectedRegion === region ? 'btn-info' : 'btn-light'"
      (click)="searchCountries(region)"
    >
      {{ region }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
