<h2>Search countries by capital</h2>
<hr />
<div class="row">
  <div class="col">
    <!--searchbox-->
    <shared-search-box
      placeholder="Enter capital name"
      [initialValue]="term"
      (onDebounce)="searchCountries($event)"
    ></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
